<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js 애완용품 샵</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link herf="assets/css/" rel="stylesheet" type ="text/css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script></script>
</head>
<body>
    <div id = "app">
    <header>
        <div class = "navbar navbar-default">
            <h1 v-text = "sitename"></h1>
        </div>
        <div class ="nav justify-content-end cart">
            <button type="button" class = "btn btn-default btn-lg" @click="showCheckout">
                <span>장바구니 {{cartItemCount}}</span>
                <span>주문하기</span>
            </button>
        </div>
    </header>    
    <main>
        <div class="row product">
            <div v-if ="showProduct" class = "row">
                <div class="col">
                    <figure>
                        <img :src="product.image" alt="">
                    </figure>
                </div>
                <div class = "col col-expand">
                    <h1 v-text = "product.title"></h1>
                    <p v-html = "product.description"></p>
                    <p>{{product.price | formatPrice}}</p>
                    <p>현재 재고량: {{remaindInventory}}</p>
                    <button v-if= "canAddToCart" class="btn btn-primary btn-lg" @click="addToCart">장바구니 담기</button>
                    <button v-else= "canAddToCart" class="btn btn-secondery btn-lg">장바구니 담기</button>
                    <button class="btn btn-primary btn-lg" @click="cleanToCart">장바구니 비우기</button>
                </div>
            </div>
            <div v-else>주문하기 화면이 들어갈 자리 
                <div class="row">
                    <strong>이름: </strong>
                    <input v-model="order.firstName" class = "form-control"/>
                    </div>
                    <div class="col-md-6">
                    <strong>성: </strong>
                    <input v-model="order.lastName" class = "form-control"/>
                    </div>
                    <div class="form-group">
                        <div class = "col-md-12"><strong>주소:</strong></div>
                        <div class = "col-md-12">
                            <input v-model="order.address" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class = "col-md-12"><strong>도시:</strong></div>
                        <div class = "col-md-12">
                            <input v-model="order.city" class="form-control">
                        </div>
                        </div>
                        <div class="form-group">
                            <div class = "col-md-12"><strong>주:</strong></div>
                            <div class = "col-md-12">
                                <select v-model="order.state" class = "form-control">
                                    <option disabled value="">주</option>
                                    <option value ="앨라배마">AL</option>
                                    <option value ="애리조나">AR</option>
                                    <option value ="캘리포니아">CA</option>
                                    <option value ="네바다">NV</option>
                                </select>
                                
                            </div>
                            </div>
                            <div class="form-group">
                                <div class = "col-md-12"><strong>우편번호:</strong></div>
                                <div class = "col-md-12">
                                    <input v-model="order.zip" class="form-control">
                                </div>
                                </div>
                                <div class="form-group">
                                    <div class = "col-md-6 boxes"><input type="checkbox" id="gift" value ="true" v-model ="order.gift">
                                    <label for="gift">선물로보내기</label>
                                </div>
                                    <div class = "col-md-12">
                                        <input v-model="order.gift" class="form-control">
                                    </div>
                                    </div>
                                    <div class="form-group">
                                        <div class = "col-md-6 boxes"><input type="radio" id="home" value ="Home" v-model ="order.method">
                                        <label for="home">자택</label>
                                        <input type="radio" id ="business" value="Business" v-model="order.method">
                                        <label for="business">직장</label>
                                    </div>
                                        <div class = "col-md-12">
                                            <input v-model="order.gift" class="form-control">
                                        </div>
                                    <div class="col-md-12 verify">
                                        <pre>
                                            이름: {{order.firstName}}
                                            성:{{order.lastName}}
                                            주소:{{order.address}}
                                            도시:{{order.city}}
                                            우편번호:{{order.zip}}
                                            주:{{order.state}}
                                            주소지:{{order.method}}
                                            선물:{{order.gift}}
                                        </pre>
                                    </div>
                            </div>
                           
                            </div>
                    
                </div>
            </div>
            
            
            

                
    </main>
    </div>
    <script>
        let getItemCount = localStorage.getItem('itemCount') / 1
        window.onload = function() {
            for(let i = 0 ; i < getItemCount; i++) {
                webstore.addToCart()
            }
        }
        var APP_LOG_LIFECYCLE_EVENTS = true;
        function w(msg){
            if(APP_LOG_LIFECYCLE_EVENTS) {
                    console.log('msg');
                }
        }
        let webstore = new Vue({
            el: '#app',
            data : {
                sitename: 'Vue. js 애완용품 샵',
                product: {
                    id: 1001,
                    title : "고양이 사료, 25 파운드",
                    description: "당신의 고양이를 위한 <em>거부할 수 없는</em>," + 
                                "유기농 25파운드 사료입니다.",
                    price : 2000,
                    image : "assets/images/product-fullsize.png",
                    inventory: 5,
                },
                cart:[],
                showProduct: true,
                order: {
                    firstName:'',
                    lastName:'',
                    address:'',
                    city:'',
                    state:'',
                    zip:'',
                },
            },
            computed: { 
                cartItemCount() {
                    return this.cart.length
                },
                remaindInventory() {
                let v = this.product.inventory - this.cart.length;
                return v > 0 ? `${v}개` : `없음`
                },
                canAddToCart() {
                    return this.product.inventory > this.cartItemCount;
                },                
            },
            filters: {
                formatPrice(price) {
                    if(!parseFloat(price)) {return "free"}
                    else{
                    return new Intl.NumberFormat('ja-EU', { style: 'currency', currency: 'EUR' }).format(price);
                    }
                }
            },
            methods: {
                addToCart: function() {
                    if(this.product.inventory > this.cart.length){
                        this.cart.push(this.product.id);
                        localStorage.setItem("itemCount",JSON.stringify(this.cart.length));
                    }
                },
                showCheckout() {
                    if(this.cartItemCount == 0){
                        alert("장바구니가 비어 있습니다.")
                    }else {
                    this.showProduct = !!!this.showProduct
                    }
                },
                cleanToCart() {
                    this.cart.splice(0);
                    localStorage.setItem("itemCount",JSON.stringify(this.cart.length = 0));
                },
            }
        });
    </script>
</body>
</html>